{% extends 'base_after_login.html' %}

{% block in_body %}
  <main class="container">
    <table class="table table-bordered table-hover">
      <tr>
        <th>项目名称</th>
        <th>详情</th>
        <th>分析</th>
        <th>报告下载</th>
      </tr>
      {% for project in projects %}
        <tr>
          <td>{{ project.project_name }}</td>
          <td>
            <a href="{{ url_for('project_detail',project_id=project.project_id) }}">
              <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            </a>
          </td>
          <td>
            <a href="{{ url_for('project_analysis',project_id=project.project_id) }}">
              <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            </a>
          </td>
          <td>
            <a href="{{ url_for('project_download',project_id=project.project_id) }}">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>

  </main>
{% endblock %}